%html
  %body
    .page
      .header
        .website-title
          = @title ? @title : "apé lfip"
        .under-title
          Association des parents d'élèves
        .under-title
          du lycée français international de Pékin
      = yield
    .footer
      Copyright &copy;
      = Time.now.year
      Association des Parents d'&eacute;l&egrave;ves du LFIP, 
      Tous droits r&eacute;serv&eacute;s.