%ul
  - @comments.each_with_index do |comment, i|
    %li
      .index= comment.index(i)
      .comment_content= comment.content
      .date
        = l comment.updated_at, :format => :comment
        = render "comments/management", :comment => comment
      .clear
