%html
  %body{:style => "font-family:'Helvetica Neue',Arial;font-size:13px;"}
    %div{:style=>"background:#7D7874; text-align:center; padding:10px;"}
      %div{:style=>"color:#A80000; font-size:40px"}apé lfip
      %div{:style=>"color:#EEE; font-size:11px; text-transform:uppercase;"}Association des parents d'élèves
      %div{:style=>"color:#EEE; font-size:11px; text-transform:uppercase;"}du lycée français international de Pékin
    %table
      = render "posts"
      = render "events"
