= render "posts"
= render "events"
.unsubscribe
  = link_to "Me désabonner de la newsletter", :only_path => false, :controller => 'application', :action => 'unsubscribe', :id => @user.email, :auth_token => @user.authentication_token