- decorated_event = EventDecorator.decorate(event)

.element
  .post_title
    = link_to event.title, event_url(:id => event.id, :auth_token => @user.authentication_token)
    .date-event
      %span= decorated_event.date_range(:format => "%e %B %Y")
  .clear{:style => "clear:both;"}
  .post_content
    = decorated_event.summary
  .clear{:style => "clear:both;"}
