#side_bar
  #title= link_to t("event.title"), main_app.events_path
  - if can? :manage, Event
    #side_operations
      %ul
        %li= link_to "Add new Event", admin.new_path(:event)
        %li= link_to "Manage Events", admin.index_path(:event)
