#current_content_wrapper
  #big_calendar
:javascript
  $(function(){
      $("#big_calendar").fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek,basicDay'
        },
        editable: true, 
        events: "#{main_app.events_path}.json",
        loading: function(loading){
          if (loading){
            $('#big_calendar').block({ 
                message: '<h3>Processing</h3>',
                showOverlay: true,
                overlayCSS: { 
                  backgroundColor: '#000', 
                  opacity: 0.5
                },
                css: { 
                  width:    '350px', 
                  top:      '10px', 
                  border:   'none', 
                  padding:  '15px', 
                  color:    '#fff', 
                  backgroundColor: '#222222', 
                  '-webkit-border-radius': '10px', 
                  '-moz-border-radius':    '10px' 
                }
            }); 
          }else{
            $('#big_calendar').unblock(); 
          }
        }
      })
  });

