#calendar
  %table{:width => "100%"}
    %thead
      %tr
        %th{:colspan => 7}
          %h3#calendar_month_year #{@beginning_of_month.month} #{@beginning_of_month.year}
      %tr
        %th{:width => 35}
          Mon
        %th{:width => 35}
          Tue
        %th{:width => 35}
          Wed
        %th{:width => 35}
          Thu
        %th{:width => 35}
          Fri
        %th{:width => 35}
          Sat
        %th{:width => 35}
          Sun
    %tbody
      %tr
        - (@beginning_of_month..@end_of_month).each do |d|
          - t = d.wday == 0 ? 6 : d.wday - 1
          - if d == @beginning_of_month
            - t.times do # offset beginning of calendar
              %td.offset
          - if t == 0 #restart the week
            </tr><tr class = "dddddddd">
          %td{:class => "tday #{d}" }= link_to "#{d.day}", events_of_day_path(d.year, d.month, d.day), :remote => true
