#categories
	%h3= t("category")
	%ul
		- @categories_side.each do |category|
			%li
				%h4= link_to category.title, posts_with_category_path(category)
				%ul
					- category.posts.each do |post|
						%li= link_to truncate(post.title, :length => 30, :omission => '... '), main_app.post_path(post)
				
