#current_content_wrapper
  .home_item_title
    %h1= t("blog.pinned")
  = render "posts/posts_list", :posts => @pinned_posts
  .main_split_line
  .home_item_title
    %h1= t("blog.latest")
  = render "posts/posts_list", :posts => @latest_posts

