#current_content_wrapper
  .home_item_title
    %h1 Lettre des Membres de l'APE
    %h2 Confirmation d'inscription

  %p
    Pour rester informé(e) des actualités de votre association et du site web,
    abonnez vous à notre lettre d'information.
  %p
    Vous recevrez votre lettre à l'adresse
    %br
    %b= current_user.email
    
  = form_for @subscription do |f|
    = f.hidden_field :unsubscribe, :value => 0
    = submit_tag "Inscription"