

#current_content_wrapper
  .home_item_title
    %h1 Lettre des Membres de l'APE
    %h2 Confirmation de Désinscription

  %p
    Vous êtes actuellement abonné(e) à notre lettre d'information
    %br
    à l'adresse
    %b= current_user.email
    
  = form_for @subscription do |f|
    = f.hidden_field :unsubscribe, :value => 1
    = submit_tag "Desincription" 
  

  