%h1.title
  = link_to rails_admin.dashboard_path do
    %span.red APE
  %span.white{:style => "font-size:14px; font-weight:plain;"}
    powered by
    = link_to "second bureau", "http://www.secondbureau.com", :style => "text-decoration:underline;"
    = raw "&nbsp;&nbsp;"
    = link_to "Site", main_app.root_path, :style => "text-decoration:underline;"
