%ul
  - @comments.each_with_index do |comment, index|
    %li{:id => "comment#{@comments_size - index - 1}"}
      .index= (@comments_size - index - 1)
      .comment_content= raw comment.content
      .date= comment.created_at
      .clear