- if can? :manage, @post
  #post_opers
    = link_to image_tag("icons/edit.png"), admin.edit_path(:post, @post.id)
    = raw "&nbsp;"
    = link_to image_tag("icons/delete.png"), admin.destroy_path(:post, @post.id), :confirm => "Are you sure?", :method => :delete
