- decorated_post = PostDecorator.decorate(post)

.element
  .post_title
    = link_to post.title, main_app.post_url(:permalink => post.permalink, :auth_token => @user.authentication_token)
    .date-post
      %span= I18n.l(post.created_at, :format => "%e %B %Y")
  .clear{:style => "clear:both;"}
  .post_content{:style => "text-align:justify;"}
    = decorated_post.summary
    %br
    = link_to t('blog.continue'), main_app.post_url(:permalink => post.permalink, :auth_token => @user.authentication_token)
  .clear{:style => "clear:both;"}
