$('#posts').append("#{j render(:partial => "/refinery/blog/shared/posts", :locals => {:posts => @posts})}");
- if @posts.next_page
  $('.pagination').replaceWith("#{j will_paginate(@posts) }");
- else
  $('.pagination').remove();