%tr
  %td
    %h1{:style => "font-size:14px; line-height:25px; text-indent:2em;"} 
      Your membership will end in the end of next month. Please contact with us to have the membership of the next year.