
body{
  font-family: "Helvetica Neue",Helvetica,Arial,freesans;
  font-size: 16px;
}

.clear{clear:both;}

#print_for_2buro_wrapper{border-bottom:1px solid #CCCCCC; padding:10px;
  #print_for_2buro{float:right; margin-top:10px; color:#FF0000; 
    img{border:none; position:relative; top:7px;}
  }
}
#print_content{padding:10px; 
  #print_for_copyright{float:right; color:#FF0000;}
  #print_for_title{font-size:200%; font-weight:bold; margin:10px 0px 20px 0px;}
  #print_for_content{text-indent:2em; line-height:30px;
    &:first-letter{font-size:150%; font-weight:bold; margin-right:1px;}
  }
}