/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require text
 *= require common
 *= require layout
 *= require pages
 *= require posts
 *= require comments
 *= require events
 *= require search
 *= require subscribes
*/

input:focus{
	outline: none;
}

/*
 * for the application
 */


a:link{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

form > li{
	margin-left: 0px;
}

