@import "bootstrap_and_overrides";
@import "common";

body.index, body.edit, body.show {
  padding-top:0px;
}

.color-private {
  color: $red;
}

.color-public {
  color: $green;
}

#public_field {
  position:absolute;
  top:0px;
  left:75%;
}

/* overrides Bootstrap for refinery */
.form-actions {
  padding: 0;
}

select {
  width: auto;
}

