table.calendar {
  margin: 10px 0 20px 0;
  border-collapse: collapse;
  width: 100%;
  color: #fff;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    text-transform: uppercase;
    text-align: center;
    
  }

  td {
    height: 20px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
  }
  
  td.withevent {
      background:#333; border-bottom:1px solid #C5FF00;
      a {
        color:#FFF;
      }
    }
    
  td.withevent.today {
      background:$red; border-bottom:1px solid #C5FF00;
      a {
        color:#FFF;
      }
    }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: $red; }
}

.month {
  margin: 20px 15px 10px 15px;
  color: $red;
  padding: 0px;
  text-align: center;
  font-size: 16px;
}

#calendar_event, #previous_calendar_events, #coming_calendar_events, #modal-event {
  
  h4.red {
    color: $red;
    text-transform:capitalize;
    margin: 0 0 15px 0;
  }
  
  .event {
    margin: 0 0 0 0px;
    padding: 0 10px 0 30px;
    
    p {
      line-height: 12px;
    }
  }
  
  .event:not(:last-child) {
    border-bottom:1px dotted $dark_grey;
  }
  
  p.date {
    padding:10px;
  }
  
  section.details {
    margin:0 0 30px 80px;
    
  }
  
}

#coming-events {
  
  padding: 0px 10px 0 10px;
  
  ul {
    border-top:1px dotted $grey;
    padding: 5px 20px 0 20px;
    margin: 0 0 15px;
    list-style-type:disc;
  }
}