#year_title{margin-bottom:10px; padding-bottom:10px; border-bottom:2px solid #333333;
	h1{margin-bottom:0px;}
}
.current_year{float:left;}
.year_selector{
  select{float:right; width:150px; border:1px solid #888888; padding:3px;}
}
.month_of_events{font-size:18px; font-weight:bold; margin-top:10px;}
.events_list{margin:5px 0px 15px 0px; list-style-type:none;
  li{border-bottom:1px dashed #888888; margin-bottom:2px; padding:3px 0px;
    a{font-size:16px; color:#000000;}
    .event_date{float:right; font-style:italic;}
  }
}

#event_title{font-size:18px; font-weight:bold;}
#event_date_show{margin:10px 0px; font-weight:bold; color:#A0180A; text-decoration:underline;}
#event_content{line-height: 25px;
    &:first-letter{font-size:200%; font-weight:bold; margin-right:2px;}
}
