$page_width: 960px;
$padding: 5px;
$bg_shadow: 0px 2px 5px #333333;
$header_shadow: 0px -2px 5px #333333;

@mixin nav_border{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
}

@mixin title_border{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  box-shadow:2px 1px 3px #333333; 
  -moz-box-shadow:2px 1px 3px #333333;
}

body{
  background: #7D7874;
  #header_wrapper{background:#000000; position:fixed; width:100%; z-index:1000;
    #header{margin: 0px auto; width:$page_width;
      #head_nav{float:left; padding:10px 0px;
        ul{
          li{float:left;
            a{
            	padding:3px 5px; 
            	margin-right:8px; 
            	font-weight:bold;
            }
          }
        }
      }
    }
    #account{float:right; position:relative;
      ul{
        li{float:left;
        	&.search{background:#a70000;}
        	&.locale{background:#969696;}
        	&.user{background:#666666;}
        	margin-left:2px; 
          a{
          	font-weight: bolder;
          	font-size: 16px;
          	display: block;
          	height: 34px;
          	width: 35px;
          	img{margin: 5px 0px 0px 5px;}
          	span{margin: 10px 0px 0px 7px;display: inline-block;}
          }
        }
      }
      .locales{
      	position: absolute;
      	display: none;
      	top: 34px;
      	left: 37px;
      	li{background:#666;}
      }
      .user_links{
      	position: absolute;
      	background: #666;
      	display: none;
      	top: 34px;
      }
    }
  }
  #footer_wrapper{
  	background:#a80000;
  	position:fixed;
  	bottom:0px;
  	width:100%; 
  	z-index:1000;
  	#footer{text-align:center; padding:15px 0px; margin: 0px auto; width:$page_width;}
  }

  #body_wrapper{
  	margin: 0px auto; 
  	padding: 34px 0px 44px 0px;
  	width:$page_width; 
  	#home_banner{
			border: 1px solid #666666;
			height:200px;
			margin: 10px 10px 0px 10px;
		}
    #notice{
    	display:none; 
    	padding:20px 0px; 
    	background:#333333; 
    	color:#FFFFFF; 
    	text-align:center; 
    	font-size:16px; 
    	margin:10px 15px 0px 15px; 
    	font-weight:bold;
   	}
    #alert{
    	display:none; 
    	padding:20px 0px; 
    	background:#F47A7A; 
    	color:#FFFFFF; 
    	text-align:center; 
    	font-size:16px; 
    	margin:10px 15px 0px 15px; 
    	font-weight:bold;
    }
    #content{position:relative;
      #current_content{
      	min-height:400px; 
      	width:730px; 
      	float:right; 
      	margin:15px 15px 15px 0px; 
      	padding-top:20px; 
      	line-height:25px;
      }
      #side_bar{width:200px; float:left; margin-top:15px; margin-bottom:20px;
        #title{
        	background:#A0180A; 
        	padding:8px 15px 8px 5px; 
        	color:#FFFFFF; 
        	font-size:18px; 
        	font-weight:bold; 
        	text-align:right; 
        	@include title_border; 
        	margin-right:20px; 
        	margin-bottom:20px;
        }
        h2{text-align:right; margin-right:15px;}
        #side_operations{float:right; text-align:right; padding:10px 0px; border-right:1px dashed #777777;
          ul{
            li{border-bottom:1px solid #999999;
              a{display:block; padding:10px 15px; font-size:16px; color:#333333; font-weight:bold; text-decoration:none;
                &:hover{background:#959595; color:#FFFFFF;}
                &.select{background:#808080; color:#FFFFFF;}
              }
            }
          }
        }
      }
    }
  }

}

.form_errors{display:hidden; text-align:center; background:#FF5555; padding:10px; font-weight:bold;}

textarea{resize:none;
  &:focus{outline:none;}
}
form.formtastic{
  li{padding: 5px 0px; list-style-type: none; margin-bottom: 3px;
    label{display:block; padding: 5px 0px; font-size: 14px; font-weight: bold;}
    &.hidden{margin:0px; padding:0px;}
  }
}

.button_link{padding:2px 10px; background:#808080; border:1px solid #555555;; text-decoration:none; color:#000000;
  &:hover{background:#606060; text-decoration:none; }
}
