$page_width: 960px;
$padding: 5px;
$bg_shadow: 0px 2px 5px #333333;
$header_shadow: 0px -2px 5px #333333;

@mixin nav_border{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
}

@mixin title_border{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  box-shadow:2px 1px 3px #333333; 
  -moz-box-shadow:2px 1px 3px #333333;
}

@mixin box-shadow(){
	box-shadow: 1px 2px 2px #333;
	-moz-box-shadow: 1px 2px 2px #333;
	-webkit-box-shadow: 1px 2px 2px #333;
}

@mixin border-radius($radius:10px){
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

body{
  background: #7D7874;
  #header_wrapper{background:#000000; position:fixed; width:100%; z-index:1000;
    #header{margin: 0px auto; width:$page_width;
    	#home_link{display:inline; float:left;}
      #head_nav{float:left; padding:8px 0px;
        ul{
          li{float:left;
            a{padding:3px 5px; margin-right:8px;}
          }
        }
      }
    }
    #account{float:right; position:relative;
      ul{
        li{float:left; margin-left:2px;
        	&.search{background:#a70000;}
        	&.locale{background:#969696;}
        	&.user{background:#666666;}
        	&.locale, &.user{
        		img{margin:3px 0px 0px 3px;}
        	}
          a{
          	font-weight: bolder;
          	font-size: 16px;
          	display: block;
          	height: 30px;
          	width: 30px;
          }
        }
      }
      .locales{
      	position: absolute;
      	display: none;
      	top: 30px;
      	left: 32px;
      	li{background:#666;}
      }
      .user_links{
      	position: absolute;
      	background: #666;
      	display: none;
      	top: 30px;
      }
    }
  }
  #footer_wrapper{
  	background:#a80000;
  	position:fixed;
  	bottom:0px;
  	width:100%; 
  	z-index:1000;
  	#footer{text-align:center; padding:10px 0px; margin: 0px auto; width:$page_width;}
  }

  #body_wrapper{position:relative;
  	margin: 0px auto 20px auto; 
  	padding: 30px 0px 44px 0px;
  	width:$page_width; 
    #notice{
    	position:fixed;
    	top: 30px;
    	width: $page_width;
    	display:none; 
    	padding:30px 0px; 
    	background:#555; 
    	color:#FFFFFF; 
    	text-align:center; 
    	font-size:16px; 
    	margin:0px 0px 10px 0px; 
    	font-weight:bold;
    	z-index:100;
   	}
    #alert{
    	position:fixed;
    	top: 30px;
    	width: $page_width;
    	display:none; 
    	padding:30px 0px; 
    	background:#F47A7A; 
    	color:#FFFFFF; 
    	text-align:center; 
    	font-size:16px; 
    	margin:0px 0px 10px 0px; 
    	font-weight:bold;
    }
    #content{position:relative;
    	#side_bar{float:left; width:310px;
				#site_logo{padding:30px 0px 40px 10px;}
				.home_side_block{margin-bottom:10px; line-height:25px; color:#FFF;
					.home_side_block_title{font-family: 'Quicksand', sans-serif;
							@include box-shadow(); padding:3px 15px; color:#FFF; background:#333; position:relative; cursor:pointer;}
					.home_side_block_content{margin:0px 6px; padding:5px 10px; background:#9b9591; @include box-shadow();
						li{
							a{color:#FFF;}
						}
					}
				}
				#calendar{
					td{text-align:center;}
					#calendar_month_year{text-align:center; font-size:18px; padding:5px 0px;}
					#calendar_dates{padding:5px; background:#CCCCCC;
						a{color:#333333; margin:3px; padding:1px; font-weight:bold; color:#FFF;
							&:hover{background:#333333; color:#EEEEEE; text-decoration:none;}
						}
					}
					table{width:100%; font-weight:bold;}
					#calendar_split_line{border-bottom:1px dashed #333; margin:20px 50px 15px 50px;}
					#comming_events{margin:0px 0px 10px 15px; list-style-type:disc; 
						.event_date_title{display:inline-block; padding:0px 5px;}
						a{display:block; padding:2px 0px;
							&:hover{text-decoration:none; background:#888;}
						}
					}
					.weekdays{
						th{width:35px;}
					}
					h4{display:inline;}
					.c_l_arrow{float:left; margin-left:25px;}
					.c_r_arrow{float:right; margin-right:25px;}
					.teventday{background:#333; color:#FFF; border-bottom:1px solid #C5FF00;}
				}
				#categories{
					.home_side_block_content{background:#9A0606;
						h4{
							a{color:#000;}
						}
						ul{list-style-type:disc; margin-left:15px; margin-bottom:10px;
							li{
								a{color:#000;}
							}
						}
					}
				}
				#contact{
					.home_side_block_title{background:#9A0606;}
				}
			}
			#current_content{float:left; width:620px; margin-left:30px; background:#9b9591; @include box-shadow();
				#site_image{height:189px; background:url("home_image.jpg") no-repeat;}
				#current_content_wrapper{padding:30px 20px;}
			}
    }
  }

}

.current_day{background:#a80000; color:#FFF;}

#event_for_day{
	position:absolute; 
	top:165px; 
	width:600px; 
	height:300px; 
	left:180px; 
	background:#DDD;
	box-shadow: 0px 0px 50px #21070A;
	-moz-box-shadow: 0px 0px 50px #21070A;
	-webkit-box-shadow: 0px 0px 50px #21070A;
	#close_image{
		display: none;
		cursor: pointer;
		position: absolute;
		right: -8px;
		top: -8px;
	}
	a{
		color: #000;
	}
	#events_content{
		padding: 20px;
		display: none;
		h2{margin-bottom:15px;}
	}
}

.form_errors{display:hidden; text-align:center; background:#FF5555; padding:10px; font-weight:bold;}

textarea{resize:none;
  &:focus{outline:none;}
}
form.formtastic{
  li{padding: 5px 0px; list-style-type: none; margin-bottom: 3px;
    label{display:block; padding: 5px 0px; font-size: 14px; font-weight: bold;}
    &.hidden{margin:0px; padding:0px;}
  }
}

.button_link{padding:2px 10px; background:#808080; border:1px solid #555555;; text-decoration:none; color:#000000;
  &:hover{background:#606060; text-decoration:none; }
}
