// Place all the styles related to the managements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#management_wrapper{
  ul{
    li{margin-bottom:5px;
      .manage_title{background:#555555; padding:3px; color:#FFFFFF; font-weight:bold;}
      .manage_content{background:#CCCCCC;
        .item_show{background:#FFFFFF; padding:3px; float:left; margin:3px;}
      }
    }
  }
  
  #data_table{
    table{background:#888888; border-collapse:separate; border-spacing:1px;
      th{text-align:left; font-weight:bold; padding:3px; background:#AAAAAA;}
      td{background:#CCCCCC; padding:3px;
        a{color:#000000; text-decoration:underline;}
      }
    }
  }
}
