// Place all the styles related to the membership controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#member_desc{padding:15px 0px; font-size:16px; font-weight:bold;}
#member_link{
  a{padding:8px 16px; background:#5E0A00; color:#FFFFFF; font-weight:bold; font-size:18px; float:left; border-radius:6px; -moz-border-radius:6px;
    box-shadow:0px 0px 4px #000000; -moz-box-shadow:0px 0px 4px #000000;
    &:hover{background:#A0180A; text-decoration:none;}
  }
}
#membership_confirming{
  h1{margin-bottom:15px;}
}
