// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$item_color: #DDDDDD;

#pages {
  h1 {font-size:17px;}
  h2 {font-size:15px;}
  p {font-size:13px;}
  ul {font-size:13px; margin:6px 0 0 20px; list-style:disc; 
    li {margin:0px; padding:0px; line-height:17px; 
      ul {margin:0px 0 0 30px; list-style:none; 
        li {font-style:italic;}
      }
    }
  }
}

#home_wrapper{padding:10px 10px;
  #slide_pictures{height:350px; background:$item_color; border:1px solid #999999; background:url("students.png") no-repeat; box-shadow:0px 0px 4px #000000; -moz-box-shadow:0px 0px 4px #000000; margin-bottom:10px;
    #infor{background:#333333; padding:10px; float:right; margin-top:270px; opacity:0.8;
      h1{
        a{font-family: helvetica,arial,sans-serif; font-weight:bold; color:#BBBBBB;
          &:hover{color:#FFFFFF; text-decoration:none;}
        }
      }
    }
  }
  ul{
    li{
      &.latest_posts{float:left; width:520px; min-height:100px; margin-right:10px; background:$item_color; border:1px solid #999999;}
      &.latest_events{float:left; width:406px; min-height:100px; background:$item_color; border:1px solid #999999;}
    }
  }
}

.home_item_title{padding:5px; font-size:16px; font-weight:bold; color:$item_color; background:#555555;
  span{float:right; font-size:12px; text-decoration:underline;}
}
.home_item_content{padding:5px; line-height:25px;
  ul{
    li{
      a{color:#000000;}
    }
  }
}
