body{
  font-family: "Helvetica Neue",Helvetica,Arial,freesans;
  font-size: 16px;
}
#body_wrapper{padding:5px; margin:20px auto; width:960px; min-height:800px;background:#EEEEEE;
  #print_header{display:none;}
  #print_content{padding:10px; background:#DDDDDD;
    #print_for_copyright{float:right; color:#FF0000;}
    #print_for_title{font-size:200%; font-weight:bold; margin:10px 0px 20px 0px;}
    #print_for_content{text-indent:2em; line-height:30px;
      &:first-letter{font-size:150%; font-weight:bold; margin-right:1px;}
    }
  }
}
