

a{
  color: #333333;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}


@mixin message{margin:10px auto; width:400px; display:none; padding:10px 20px; background:#333333; color:#FFFFFF; text-align:center; font-size:16px; font-weight:bold; border-radius:6px; -moz-border-radius:6px;}

#notice{@include message;}
#alert{@include message; background:#F47A7A; }

#sign_box_wrapper{padding:80px 0px;
  #sign_box{margin:10px auto; width:400px; background:#EEEEEE; border-radius:6px; -moz-border-radius:6px; padding:10px;
          box-shadow:0px 0px 10px #000000; -moz-box-shadow: 0px 0px 6px #000000;}
}
.input_field{width:98%;}

