#side_bar
  #title= link_to t("category.title"), main_app.categories_path
    #side_operations
      %ul
        - @categories.each do |category|
        	%li= link_to category.title, category_path(category)
