%h1 Confirmez votre demande

%p Bonjour!
%p Nous avons bien reçu votre demande d'adhésion à l'Association des Parents d'élèves du Lycée International de Pékin.
%p Afin de confirmer votre demande, veuillez cliquer sur le lien ci-dessous : 

%h2{:style => "text-align:center; margin:15px;"}= link_to "Je souhaite adhérer à l'APE LFIP'", confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

%hr

%h2= "Pourquoi devenir membre de l'Association des Parents d'élèves du Lycée Français International de Pékin ?"

%ul
  %li Soutenir l’action de l’APE
  %li Accéder à toute l’information de l’APE
  %li Communiquer avec les autres parents d’élèves
  %li Faire acte de solidarité
  %li Participer au financement d'animations pour les élèves
  %li Bénéficier de l'aide de l'APE
  %li La cotisation annuelle n’est que de 200 RMB

%p= ga_link_to 'Cliquez ici pour lire la suite...', page_url(:permalink => 'comment-adherer', :utm_content => 'text_link')
