%h1 Confirmez votre demande

%p Bonjour!
%p Nous avons bien reçu votre demande d'adhésion à l'Association des Parents d'élèves du Lycée International de Pékin.
%p Afin de confirmer votre demande, veuillez cliquer sur le lien ci-dessous : 

%h1{:style => "text-align:center; margin:15px;"}= link_to "Je souhaite adhérer à l'APE LFIP'", confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

%hr

%p= h "Pourquoi devenir membre de l'Association des Parents d'élèves du Lycée Français International de Pékin ?"

  %li communiquer avec vous plus fr&eacute;quemment et plus r&eacute;guli&egrave;rement. Des articles seront &eacute;dit&eacute;s au fil des activit&eacute;s, des &eacute;v&egrave;nements et des opportunit&eacute;s,
  %li vous &eacute;couter et &eacute;changer plus facilement entre membres de l'association. Vous pourrez commenter les articles et lire les commentaires des autres parents,
  %li mettre &agrave; disposition de l'information pratique accessible facilement et en permanence par tous les adh&eacute;rents.

%p Les articles sont r&eacute;serv&eacute;s aux membres de l'association.
