%p
  Bonjour !
%p Quelqu'un (probablement vous) a demandé la ré-initialisation de votre mot de passe. Vous pouvez le faire en cliquant sur le lien ci-dessous'.
%p= link_to 'Je veux changer mon mot de passe !', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Si vous n'êtes pas à l'origine de la demande, veuillez tout simplement ignorer ce message.
%p NB : Votre mot de passe ne sera pas changé tant que vous ne cliquerez pas sur le lien ci-dessus.
%br
%p APE PEKIN