<form class="import-form" action="/application/read_import" enctype="multipart/form-data" method="post">
<div>Import des utilisateur. Selectionner le fichier à importer :</div>
<input type="file" name="file">
<br>
<input type="submit" value="Submit">
</form>