!!! 5
%html
  %head
    %title Ouranos
    = stylesheet_link_tag     "print"
    = javascript_include_tag  "print"
    = csrf_meta_tags
    = yield :header
  %body
    #print_header
    #print_sidebar
    #print_content
    #footer
