=render "sidebar"
#current_content
  #management_wrapper
    #data_table
      %table{:width => "100%"}
        %thead
          %tr
            %th= t("management.user.nickname")
            %th= t("management.user.fullname")
            %th= t("management.user.role")
            %th= t("management.operation")
        %tbody
          =render :partial => "user_item", :collection => @users, :as => :user
.clear